
ul,
ol,
li {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

ul, ol {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  outline: none;
  color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}