.header {
    &-body {
        position: fixed;
        z-index: 11;
        width: 100%;
        padding: 32px 0;
        background-color: #10101D;
        opacity: 0.9;
    }

    &-logo {
        flex: 0 0 245px;
        max-width: 245px;
        line-height: 0;
        @media(max-width:576px) {
            flex: 0 0 200px;
            max-width: 200px;
        }

        @media(max-width:400px) {
            flex: 0 0 170px;
            max-width: 170px;
        }
    }

    &-container{
        position: relative;
        display: flex;
        justify-content: space-between;
        // transition: all 0.3s ease 0s;
    }

    &-menu {
        ul {
            li {
                display: inline-block;
                margin-left: 60px;
            }

            li a{
                font-size: rem(13);
                color: #ffffff;
                transition: 0.3s;

                &:hover {
                    color: #43ABF0;
                }
            }
        }

        @media(max-width:1023px){
            display: none;
        }
    }

    &-burger {
        display: none;

        @media(max-width:1023px) {
            display: block;
            position: relative;
            width: 30px;
            height: 20px;

            &::after{
                content: "";
                position: absolute;
                width:100%;
                height: 2px;
                left: 0;
                bottom: 0;
                background-color: #ffffff;
                transition: all 0.3s ease 0s;
            }

            &::before{
                content: "";
                position: absolute;
                width:100%;
                height: 2px;
                left: 0;
                top: 0;
                background-color: #ffffff;
                transition: all 0.3s ease 0s;
            }

            &-span {
                position: absolute;
                width:100%;
                height: 2px;
                left: 0;
                top: 9px;
                background-color: #ffffff;
                transition: all 0.3s ease 0s;
            }
        }

        img {
            margin-bottom: -3px;
        }
    }

    &-mobile {
        opacity: 0;
        visibility: hidden;
        height: 100vh;
        width: 100%;
        overflow-y: auto;
        padding: 0 40px;
        margin: 0 -40px;
        background-color: #10101d;
        text-align: center;
        position: fixed;
        transition: all 0.3s ease;

        ul {
            padding-top: 30px;
            li {
                margin-bottom: 20px;
                font-size: rem(20px);
                list-style-type: none;
            }
        }
    }

    .mobile-open {
        opacity: 1;

        .header {
            &-mobile {
                opacity: 1;
                overflow-y: auto;
                visibility: visible;
            }

            &-burger {
                &::before {
                    transform: rotate(45deg);
                    top: 9px;
                }

                &::after {
                    transform: rotate(-45deg);
                    bottom: 9px;
                }

                &-span {
                    transform: scale(0);
                }
            }
        }
    }
}
