.main {
    &-screen {
        position: relative;
        line-height: 0;
        padding: 200px 0;
        background-image: url("../images/main-bg.png");
        background-repeat: no-repeat;
        background-position: center;
    }

    &-info {
        // position: absolute;
        // top: 200px;
        max-width: 780px;
        line-height: 1.2;
        &-title {
            margin-bottom: 80px;
            font-size: rem(48);
            font-weight: 700;

            &-span {
                color: #3E9CDC;
                font-weight: 800;
            }
        }

        &-subtitle {
            margin-bottom: 10px;
            font-weight: 700;
            font-size: rem(20);
        }

        &-list {
            &-ul {
                padding-left: 25px;
                margin-bottom: 80px;
            }

            &-li {
                position: relative;
                margin-bottom: 5px;
                font-size: rem(20);
                font-weight: 400;

                &::before {
                    content: "";
                    display: inline-block;
                    position: absolute;
                    left: -20px;
                    top: 10px;
                    width: 5px;
                    height: 1.5px;
                    background-color: #000000;
                }
            }
        }

        &-btn {
            display: inline-block;
            width: 183px;
            height: 43px;
            margin-right: 30px;
            line-height: 41px;
            background-color: #ffffff;
            border: 1px solid #6F6D7B;
            border-radius: 4px;
            text-align: center;
            text-transform: uppercase;
            font-size: rem(13);
            font-weight: 400;
            color: #000000;
            transition: 0.3s;
            &:hover {
                opacity: 0.7;
            }

            &-blue {
                border: 1px solid #ffffff;
                background-color: #3E9CDC;
                color: #ffffff;
            }
        }
    }

    &-order {
        background-image: url("../images/main-order-bg.png");
        line-height: 0;
        padding-top: 120px;
        padding-bottom: 150px;
        background-position: center;
        background-size: cover;
        &-wrap {
            position: relative;
            max-width: 209px;
            flex: 0 0 209px;
            text-align: center;


        }

        &-title {
            margin-bottom: 30px;
            font-weight: 800;
            font-size: rem(36);
            text-align: center;
            line-height: 1.2;
            color: #ffffff;
            &-span {
                color: #3E9CDC;
            }
        }

        &-subtitle {
            margin-bottom: 80px;
            font-size: rem(18);
            color: #BBBBBB;
            text-align: center;
            line-height: 1.2;
        }

        &-item {
            display: inline-block;
            position: relative;
            width:100px;
            height: 100px;
            margin-bottom: 20px;
            border-radius: 50%;
            border: 5px solid #286690;
            background-color:#3E9CDC;

            &::before {
                content: "";
                position: absolute;
                background-image: url("../images/svg/main-order-dots.svg");
                width: 100%;
                height: 6px;
            }

            &-img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }

            &-subtitle {
                line-height: 1.2;
                color: #ffffff;
            }

           
        }

        &-row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 100px;
        }

        &-dots {
            display: flex;
            // white-space: nowrap;
            position: absolute;
            top: 50%;
            left: 110%;
            transform: translate(0,-50%);
        }

        &-dot {
            display: inline-block;
            width: 6px;
            height: 6px;
            margin-right: 20px;
            background-color: #C4C4C4;
            border-radius: 50%;

            &:first-child {
                margin-left: 12px;
            }
        }

        &-input {
            position: relative;
            width: 100%;
            height: 48px;
            padding-left: 10px;
            background-color: rgba(255, 255, 255, 0.85);
            border-radius: 3px;
            color: #272733;
            font-size: rem(18);
            border: 1px solid #ffffff;
            outline: none;
        }

        &-load {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 48px;
            line-height: 44px;
            width: 100%;
            border: 2px solid #3E9CDC;
            color: #272733;
            background-color: #ffffff;
            text-align: center;
            text-transform: uppercase;
            font-size: rem(18);
            font-weight: 600;
            cursor: pointer;
            transition: 0.3s;

            &:hover {
                color: #ffffff;
                border: none;
                background-color: #3E9CDC;
            }

            img {
                margin-right: 10px;
            }
            
        }

        &-btn {
            width: 370px;
            height: 48px;
            line-height: 46px;
            cursor: pointer;
        }

        &-box {
            text-align: center;
        }
    }

    .mb-30 {
        margin-bottom: 30px;
    }

    .mb-55 {
        margin-bottom: 55px;
    }

    .jq-selectbox {
        position: relative;
        width: 100%;
        height: 48px;
        background-color: rgba(255, 255, 255, 0.85);
        border-radius: 3px;
        color: red;
        border: 1px solid #ffffff;
    }

    .jq-selectbox__dropdown {
        &::after {
            content: "";
            position: absolute;
            right: 30px;
            top: 43%;
            width: 10px;
            height: 10px;
            // -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
            border-top: 1px solid #000;
            border-right: 1px solid #000;
        }

        &::before {
            content: "";
        }
    }
}